.App {
  text-align: center;
}
#root {
  height: 100%;
  width: 100%;
}

.main-header {
  background-color: #ff7f50;
  color: white;
}
.main-header ul {
  background-color: #ff7f50;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
